/* html {
    font-size: calc(12px + 4 * ((100vw - 320px) / 960));
} */

body {
    margin: 0 auto;
    padding: 0px 30px;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #19456b;
}

header {
    background: rgb(214, 148, 148);
    max-height: 43px;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0px 0px 15px 15px;
    text-decoration: none
}

footer {
    padding: 1em 0;
    margin: 2em 0;
    min-height: 100px;
    border-top: 1px solid #ccc;
    text-align: center;
}

.logoWrapper {
    margin: auto 5px;
    flex: 0 1 40px;
    opacity: 0.7;
    transition: all 0.4s ease-in;
}

.logoWrapper:hover {
    opacity: 1;
}

.navbar { 
    display: flex;
    flex: 1; 
    margin: 0 auto; 
    padding: 0px;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbarLink {
    padding: 0.7rem;
    opacity: 0.7;
    transition: all 200ms ease-in;
}

.navbarLink:hover {
    opacity: 1;
}

.headTitle {
    color: black;
    padding: 15px 0px;
}

.layoutMain {
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
}

.date {
    color: rgb(214, 148, 148);
    margin-top: 5px;
}

.postListsTitle {
    margin: 5px 0px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
    color: rgb(38,38,38);
}

.postBox{
    text-decoration: none;
}

.postText {
    line-height: 150%;
    color: rgb(46, 45, 45);
}

.postTitle {
    padding-top: 15px;
    margin-bottom: 5px;
    color: rgb(56, 56, 56);
}


@media only screen and (max-width: 700px) {
    html {
        font-size: calc(13px + 4 * ((100vw - 320px) / 960));
    }

    header {
        max-height: 57px;
        max-width: 400px;
    }
    .navbarLink {
        font-size: 0.9rem;
        z-index: 6;
    }
    .logoWrapper {
        flex: 0 1 30px;
    }
}
